<% include ../partials/header %>
    <div class="container">
        <div class="row">
            <h1 style="text-align:center"> Edit <%= camp.name %> </h1>
            <div style="width: 30%; margin: 30px auto">
                <!-- need to add method-override  -->
                <form action="/campgrounds/<%=camp.id%>?_method=PUT" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="name" placeholder="Name" value="<%=camp.name%>">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="image" placeholder="Img URL" value="<%=camp.image%>">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="description" placeholder="Description" value="<%=camp.description%>">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="price" placeholder="Price/Night" value = "<%=camp.price%>">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="location" placeholder="location" value="<%=camp.location%>">
                    </div>
                    
                    <div class="form-group">
                        <button class="btn btn-primary btn-lg btn-defaults btn-block"> Submit </button>
                    </div>
                </form>
                <a href="/campgrounds"> Go back!! </a>
            </div>
        </div>
    </div>

   
    </div>
    <% include ../partials/footer %>